html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}
.appContainer {
  height: auto;
  width: 100vw;
  display: contents;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
div {
  display: contents;
}
