section {
  /* display: flex; */
  /* display: block; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}
/* @media (max-width: 500px) {
  body {
    display: contents;
  }
}

main {
  display: contents;
}

@media (max-width: 500px) {
  main {
    width: 400px;
  }
} */

section:nth-child(even) {
  flex-direction: row-reverse;
}

/* section img, */
section div {
  height: auto;
  width: 100%;
  /* display: block; */
}

body {
  /* font-family: "Roboto", Black 900 Italic; */
  display: contents;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Red Hat Display", sans-serif;
  font-size: large;
  width: 80%;
  margin: 10px;
  /* font-weight: bold; */
}

@media (max-width: 600px) {
  p {
    font-family: "Roboto", sans-serif;
    width: 100%;
  }
}

/* section img {
  width: 50%;
  margin-right: 200px;
} */

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
}

/* @media screen and (max-width: 600px) {
  /* section,
  section:nth-child(even) {
    flex-direction: column;
  } */

#adPlace {
  margin-left: auto;
  margin-right: auto;
}

/* @media screen (max-width: 600px) {
  margin-left: auto;
  margin-right: auto;
} */

#adPlace {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #adPlace {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

#h3 {
  position: relative;
  top: 29px;
}
