* {
  width: auto !important;
}

html,
body {
  width: 100% !important;
  overflow-x: hidden !important;
}

body {
  max-width: 720px;
  margin: 0 auto;
  background-color: aliceblue;
}

/* .appContainer {
  height: auto;
} */

section {
  align-items: center;
  justify-content: center;
  height: auto;
  border-bottom: 1px solid lightgrey;
}

#homeContainer {
  border-bottom: 1px solid lightgrey;
}

.line {
  border-bottom: 1px solid lightgrey;
}

.icon_mobile {
  display: none;
}

.dermaroller_line {
  border-bottom: 1px solid lightgrey;
}
.llltLine {
  border-bottom: 1px solid lightgrey;
}
.recapLine {
  border-bottom: 1px solid lightgrey;
}
body {
  display: initial;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  background-color: white;
}

#h3_solutions {
  margin-top: 50px;
  color: blue;
}
#h3_home {
  margin-top: 50px;
  color: blue;
}
#h3_dermaroller {
  margin-top: 50px;
  color: blue;
}

#h3_lllt {
  margin-top: 50px;
  color: blue;
}

p {
  /* max-width: 100%; */
  font-size: large;
  margin: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  /* .mainDiv_recap {
    height: 100px;
  } */

  p {
    font-size: 17px;
    line-height: 1.3;
  }
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
}

#siteColor {
  color: red;
}

.adPlace {
  width: 1px;
  margin-left: 476px;
  height: 285px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.adPlace img {
  max-width: 100%;
  height: auto;
}

.adPlace_keeps {
  display: flex;
  flex-direction: row;
  margin-left: 123px;
}

iframe {
  width: 600px !important;
  height: 326px !important;
}

#solutionContainer {
  transform: translateY(18px);
  border-bottom: 1px solid lightgrey;
  height: 3000px;
}

#dermarollerContainer {
  transform: translateY(1475px);
  border-bottom: 1px solid lightgrey;
  height: 1445px;
}
#llltContainer {
  transform: translateY(1493px);
  border-bottom: 1px solid lightgrey;
  height: 1125px;
}

#recapContainer {
  transform: translateY(1084px);
  border-bottom: 1px solid lightgrey;
  height: 639px;
}

@media only screen and (max-width: 720px) {
  body {
    max-width: 355px !important;
    overflow-x: hidden !important;
    margin: 0 auto;
  }

  #h3 {
    margin-top: 68px;
    color: blue;
  }

  #h3_recap {
    margin-top: 31px;
    color: blue;
  }

  #h3_solutions {
    margin-top: 23px;
    color: blue;
  }

  #h3_dermaroller {
    margin-top: 23px;
    color: blue;
  }

  .dermaroller_line {
    border-bottom: 1px solid lightgrey;
  }
  .recapLine {
    border-bottom: 1px solid lightgrey;
  }

  section {
    border-bottom: 1px solid lightgrey;
  }

  section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
  }

  #homeContainer {
    border-bottom: none;
  }

  #solutionContainer {
    height: 2651px;
    border-bottom: none;
  }

  #dermarollerContainer {
    height: 1974px;
    border-bottom: none;
    transform: translateY(3007px);
  }

  #llltContainer {
    height: 856px;
    border-bottom: none;
    transform: translateY(2766px);
  }

  #h3_lllt {
    margin-top: 28px;
    color: blue;
  }

  #recapContainer {
    transform: translateY(2821px);
    border-bottom: none;
    height: 639px;
  }

  /* section {
    border-bottom: none;
  } */

  .adPlace {
    margin-left: 94px;
  }

  iframe {
    width: 200px !important;
  }
  .adPlace_keeps {
    flex-direction: row;
    margin-left: 0px;
  }
  .line {
    border-bottom: 1px solid lightgrey;
    margin-top: 35px;
  }
  .solutionLine {
    border-bottom: 1px solid lightgrey;
    margin-top: -60px;
  }
  .llltLine {
    border-bottom: 1px solid lightgrey;
    margin-top: -7px;
  }
  .recapLine {
    border-bottom: 1px solid lightgrey;
    margin-top: 25px;
  }
}
