* {
  width: auto !important;
}

html,
body {
  width: 100% !important;
  overflow-x: hidden !important;
}

body {
  max-width: 720px;
  margin: 0 auto;
  background-color: aliceblue;
}

section {
  align-items: center;
  justify-content: center;
  height: auto;
  border-bottom: 1px solid lightgrey;
}

#homeContainer {
  display: initial;
}

body {
  display: initial;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  background-color: white;
}

#h3 {
  margin-top: 50px;
  color: blue;
}

p {
  font-size: large;
  margin: 10px;
  text-align: center;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
}

#siteColor {
  color: red;
}

.adPlace {
  margin-left: 476px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adPlace img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 600px !important;
  height: 326px !important;
}
