footer {
  display: flex;
  text-align: center;
}
footer {
  display: flex;
  text-align: center;
}

@media (max-width: 768px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
#contactMe {
  display: none;
}
