footer {
  /* display: flex; */
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
/* footer {
  display: flex;
  text-align: center;
} */

@media (max-width: 768px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transform: translateY(1300px);
  }
}
/* #contactMe {
  display: none;
} */
