footer {
  /* display: flex; */
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(1874px);
  height: 176px;
}
/* footer {
  display: flex;
  text-align: center;
} */

@media (max-width: 768px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transform: translateY(1835px);
  }
  .footerLine {
    border-bottom: 1px solid lightgrey;
    margin-top: 25px;
  }
}
/* #contactMe {
  display: none;
} */
